
<% @posts.in_groups_of(3, false) do |posts| %>
  <div class="row">
    <% posts.each do |post| %>
        <div class="col-md-4">
         <div class="thumbnail">
          <%= image_tag post["MainImage"]["url_170x135"] %>
          <h5> <%= post["title"].truncate(28) %> </h5>
          <p> Price: $<%= post["price"] %> </p>
          <%= link_to "Find it here", post["url"]  %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
