// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .jumbotron {
   text-align: center;
   background: #1ABC9C;
   color: #ECF0F1;
 }

.thumbnail {
    border: 2px solid #9395C0;
    text-aligh: center;
  }
